
.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  .modal {
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      border-bottom: none;
    }
    &-body{
      .card{
        max-width: 540px;
      }
    }
    &-footer {
      border-top: none;
    }
  }
  .modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100% !important;
    background-color: #000;
 }