
.exhib-border{
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.nav-link{
    transition: all .3s ease-out;
    opacity: 0.5;
    color: $dark;
}
.nav-link:hover{
    color: $primary;
    opacity:1; 
    transform: scale(1.1);
}

.translate-middle-fix{
    transform: translate(-16px, -17px);
}