.subscribe{
    background-image:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 208px;
    padding-bottom: 36px;
}

.exhib-border{
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  .modal {
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      border-bottom: none;
    }
    &-body{
      .card{
        max-width: 540px;
      }
    }
    &-footer {
      border-top: none;
    }
  }
  