.wordSize{
    font-size: 40px;
}
.ticket{
    list-style: none;
    li{
        a:hover{
            border-bottom: 1px solid #E31277;
        }
    }
}
.btn-width{
    width:100%;
}
.mb-40{
    margin-bottom: 40px;
}
.mt-80{
    margin-top: 80px;
}

