.banner{
    background-image: url(https://boisonchang.github.io/gh-pages-project2/assets/images/header-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        padding-top: 167px;
    }
}
.banner-btn{
    padding-bottom: 167px;
}
.nav-scroller {
    height: 2.75rem;  /* 隱藏下方捲軸 */
    overflow-y: hidden; 
    border-bottom: 1px solid #707070;
}

.nav-scroller .nav a{
    position: relative;
    padding:5px 1em;
}
.nav-scroller .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem; /* 隱藏下方捲軸 */
    overflow-x: auto;
    white-space: nowrap;
    a:after{
        content: "";
        position:absolute;
        left:50%;
        right:50%;
        height:0;
        bottom:0;
        border-bottom: 1px solid #E31277;
        transition: .3s;

    }
}
.nav-scroller .nav a:hover:after{
    left:0; 
    right:0;
}

.fbLink{
    margin-left: 10px;
    margin-right: 36px;
}


.pt-40{
    padding-top: 40px;
}
.pt90{
    padding-top: 90px;
}

.liveStreaming-content{
    padding: 40px 24px 50px 24px ;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 350px;
  }