.banner{
    background-image: url(https://boisonchang.github.io/gh-pages-project2/assets/images/header-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:480px;

}

.fbLink{
    margin-left: 10px;
    margin-right: 36px;
}

.liveStreaming-content{
    padding: 40px 24px 50px 24px ;
}

.liveStreaming-pic{
    height: 100%;
    object-fit: cover;
}

.knowMore{
      margin-top: 60px;
  }

  .cart-img{
      width:120px;
      height:120px;
  }