
.fbLink{
    margin-left: 10px;
    margin-right: 36px;
}

.liveStreaming-content{
    padding: 40px 24px 50px 24px ;
}

.liveStreaming-pic{
    height: 100%;
    object-fit: cover;
}

.knowMore{
      margin-top: 60px;
  }