.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin:0 auto;
}

img {
    max-width: 100%;
    height: auto;
      display: block;
  }
 
  *,*:before,*::after{
    box-sizing: border-box;
  }
  ul{
    list-style: none;
  }